.form {
  min-width: 300px;
  margin: 20px 45px 20px 45px;
}
.createIcon {
  margin-right: 10px;
}
.form h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 300;
}
.titleInput {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(238, 238, 238);
  outline: none;
}
.titleInput:hover {
  border-bottom: 1px solid rgb(188, 188, 188);
}
.form textarea {
  height: 100px;
  width: 300px;
  border: none;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  resize: none;
}
.form textarea:hover {
  border: 1px solid rgb(188, 188, 188);
}
.form button {
  margin-top: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.addBtnContents {
  display: flex;
  align-items: center;
  margin: 3px;
}
.addIcon {
  margin-right: 5px;
}
