.form {
  min-width: 300px;
  margin: 20px 45px 20px 45px;
}
.createIcon {
  margin-right: 10px;
}
.form h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 300;
}
.titleInput {
  height: 45px;
  width: 300px;
  border: none;
  border: 1px solid #dfe1e5;
  outline: none;
}
.titleInput:hover {
  box-shadow: 1px 2px 10px 1px #dfe1e5;
}
.textInput {
  height: 100px;
  width: 300px;
  border: none;
  border: 1px solid #dfe1e5;
  outline: none;
  resize: none;
}
.textInput:hover {
  box-shadow: 1px 2px 10px 1px #dfe1e5;
}
.form button {
  margin-top: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.addBtnContents {
  display: flex;
  align-items: center;
  margin: 3px;
}
.addIcon {
  margin-right: 5px;
}
