.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  min-height: 200px;
  border-top: 2px solid rgb(238, 238, 238);
  padding: 0 20% 0 20%;
}
.footerTop {
  display: flex;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
}
/* .overview {

} */
.overview h4 {
  font-weight: 400;
}
.overview ul {
  list-style: none;
  padding-left: 0%;
}
.overview li {
  margin: 2px;
  font-weight: 300;
}
.overview li:hover {
  text-decoration: underline;
}
/* .technology {
} */
.technology h4 {
  font-weight: 400;
}
.technology ul {
  list-style: none;
  padding-left: 0%;
}
.technology li {
  margin: 2px;
  font-weight: 300;
}
.technology li:hover {
  text-decoration: underline;
}
.footerBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(86, 86, 86);
}
.footerBottom p {
  font-size: 14px;
}
